.container{
    width: 60%;
    min-height: 440px;
    margin-top: 100px;
    margin-left: 300px;
    border: 2px solid black;
    background-color: rgb(179, 164, 166);
}
.card{
    display: inline-block;
    justify-content: center;
    width: 20%;
    height: 150px;
    padding-top: 40px;
    padding-left: 35px;

}
h1{
    font-size: 60px;
}
img{
    width: 100%;
    max-height: 250px;
    border: 5px solid black;
}
.card1:hover{
    transform: rotate(30deg);
}
.card2:hover{
    transform: rotate(360deg);
    transition: 3s;
}
.card3:hover{
    transform: scale(0.7);
}
.card4:hover{
    transform: scale(1.3);
}
.card5:hover{
    transform:translate(-50px,50px);
}
.card6:hover{
    transform:translateY(50px);
}
.card7:hover{
    transform:skew(20deg);
}
.card8:hover{
    transform:skewY(30deg);
}